<!DOCTYPE HTML>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="application/javascript"></script>
<script type="application/javascript">

    var accessId = '4f8216f9-3c1e-455c-8ce6-50adde757de8';
    var taskUrl = 'analyze/melody';
    var parameters = { blocking: false, format: 'json', access_id: accessId };

    // the values for these parameters were taken from the corresponding controls in the demo form
    parameters['input_file'] = 'http://www.sonicAPI.com/music/brown_eyes_by_ueberschall.mp3';

    function onTaskStarted(data) {
        var fileId = data.file.file_id;

        // request task progress every 500ms
        var polling = setInterval(pollTaskProgress, 500);

        function pollTaskProgress() {
            $.ajax({ url: 'https://api.sonicAPI.com/file/status?file_id=' + fileId + '&access_id=' + accessId + '&format=json',
                crossDomain: true, success: function(data) {
                    if (data.file.status == 'ready') {
                        onTaskSucceeded(fileId);
                        clearInterval(polling);
                    } else if (data.file.status == 'working') {
                        $('#result').text(data.file.progress + '% done');
                    }
                }});
        }
    }

    function onTaskSucceeded(fileId) {
        var downloadUrl = 'https://api.sonicAPI.com/file/download?file_id=' + fileId + '&access_id=' + accessId + '&format=json';

        $.ajax({ url: downloadUrl, crossDomain: true, success: function(data) {
            $('#result').html('Task succeeded, analysis result:<pre>' + JSON.stringify(data, null, 4) + '</pre>');
        }});
    }

    function onTaskFailed(response) {
        var data = $.parseJSON(response.responseText);
        var errorMessages = data.errors.map(function(error) { return error.message; });

        $('#result').text('Task failed, reason: ' + errorMessages.join(','));
    }

    // start task when clicking on the "Start task" button
    $(document).ready(function() {
        $('#start').click(function() {
            parameters['input file'] = $('#url').val();
            // execute an HTTP GET using the task's URL, the parameters and callback functions defined above
            $.ajax({ url: 'https://api.sonicAPI.com/' + taskUrl, data: parameters,
                success: onTaskStarted, error: onTaskFailed, crossDomain: true });
        });
    });
</script>

<html>
  <head>
    <title>My StdLib Static Site</title>
    <link href="./static/style.css" rel="stylesheet">
    <script src="./static/script.js"></script>
  </head>
  <body>
    <h1>My StdLib Static Website</h1>
    <div>
      <img src="./static/images/stdlib-logo.png">
    </div>
    <p>
      Welcome to your StdLib Static Website! LOLOLOLOL
    </p>
    <%- include('welcome') %>
    URL of Music File: <input type="text" name="url"><br>
    <input type="button" id="start" value="Start task" />
    <div id="result" />
  </body>
</html>
